@import url("../../node_modules/@chrisoakman/chessboardjs/dist/chessboard-1.0.0.min.css");
@font-face {
  font-family: roboto;
  src: url("../assets/font/Roboto-Regular.ttf");
}
body {
  margin: 0%;
  background-color: #fbf2ed;
  font-family: roboto;
  height: 100%;
  overflow: hidden;
}
.container {
  display: grid;
  grid-template-columns: 3% 50% 47%;
  /* grid-template-rows: 100%; */
  margin: 0%;
  border: 0%;
  height: 100%;
}

.nav-bar {
  padding: 5%;
  /* display: grid; */
  display: flex;
  flex-direction: column;
  /* grid-template-rows: auto auto auto auto auto auto auto auto auto auto; */
  grid-auto-rows: auto;
  background-color: #233152;
}
#home {
  padding: 5%;
  width: 90%;
  opacity: 0.5;
}
#computer {
  padding: 5%;
  width: 90%;
  opacity: 0.5;
}
#settings {
  padding: 5%;
  width: 90%;
  opacity: 0.5;
  margin-top: auto;
}
#board1 {
  margin: 5%;
  align-self: center;
}
#moveList {
  margin: 5%;
  align-self: center;
  border: 1%;
  overflow-y: scroll;
  height: 70%;
  width: 70%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  background-color: #b58863;
}

th,
td {
  text-align: left;
  padding: 8px;
  font-size: 20px;
}

tr:nth-child(even) {
  background-color: #f0d9b5;
}

/* tr:nth-child(odd){color: white;} */
